<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />
    <link href="styles/styles.css" rel="stylesheet" />
  </head>
  <body>
    <form>
      <input type="date" name="startDate" placeholder="Start date" value="" />
      <input type="time" name="startTime" placeholder="Enter time" value="">
      <input type="date" name="endDate" placeholder="End date" value="" />
      <input type="time" name="endTime" placeholder="Enter time" value="">
      <input
        type="number"
        name="minMagnitude"
        placeholder="Minimal magnitude"
        value=""
      />
      <input type="submit" value="Search" />
    </form>

    <% if (locals.data) { %>
    <p><%= data %></p>
    <% } %>
    <div id="map"></div>

    <p id="text-content"></p>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="/script.js" charset="UTF-8"></script>
  </body>
</html>
