html {
  background-color: #f3f3e0;
}

.input-data {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin: 0px 20px;
}

form {
  width: 90%;
  background-image: url("/img/dark-cliffs.jpg");
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 80px 0px 40px 0px;
  color: #f3f3e0;
  font-size: 1.3rem;
}

.form-container {
  display: flex;
  justify-content: center;
}

#map {
  height: 700px;
  width: 90%;
  border-radius: 5px;
}

.map-container {
  display: flex;
  justify-content: center;
}

.hiden-element {
  display: none;
}

.playfair-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-font {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.submit-data > div > input {
  display: block;
}

.submit-data {
  display: flex;
  justify-content: center;
}

p {
  margin: 0px;
}

input[type="date"],
input[type="time"],
input[type="number"] {
  font-size: 1.3rem;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 10px !important;
  border-radius: 5px;
  border: 0px;
  padding: 4px;
  color: #1b1a55;
  background-color: #f3f3e0;

  margin-bottom: 20px;
}

input[type="date"]:focus,
input[type="time"]:focus,
input[type="number"]:focus {
  outline: 4px solid #b3c8cf;
}

input[type="radio" i] {
  width: 18px;
  height: 18px;
  border-color: #b3c8cf;
}

input[type="radio" i]:checked {
  background-color: #b3c8cf !important;
}

.submit-data > div > div {
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f3f3e0;
  color: #1b1a55;
  font-size: 1.3rem;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

input[type="submit"]:hover {
  background-color: #b3c8cf;
}

.template > div,
.filter > div {
  margin-bottom: 20px;
}

.title-container > h1 {
  font-size: 4rem;
  margin: 20px 0px;
}

.title-container {
  display: flex;
  justify-content: center;
}

.errors-container{
  display: flex;
  justify-content: center;
}

.show-errors {
  color: #b8001f;
  display: flex;
  justify-content: center;
  outline: none;

  border: 2px solid #b8001f;
  background-color: #ffd3da;
  width: 90%;
  border-radius: 5px;
  font-size: 1rem;

  margin: 15px 0px;
}

.hide-errors {
  display: none;
  border: 0px;
  outline: none;
}

.map-container {
    position: relative;
    display: flex;
    justify-content: center;
}

#loading-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(243, 243, 224, 0.8);
    z-index: 1000;
    border-radius: 5px;
}

.spinner {
    border: 8px solid #f3f3e0;
    border-top: 8px solid #1b1a55;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-bottom: 15px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#loading-spinner.hidden {
    display: none;
}

#loading-spinner p {
    color: #1b1a55;
    font-size: 1.2rem;
}